/* portrait and landscape phone/phablet   */
.nav {
  margin: 0;
  padding: 0;
}
.nav > li {
  border: 1px solid #eee;
  margin: 0 1em 0 0;
  display: inline-block;
}

.priority-nav .vertical-nav .vertical-nav-dropdown > li {
  border: 1px solid #eee;
  padding: 1em !important;
}