/* portrait and landscape phone/phablet   */
.priority-nav {
  width: 100%;
  white-space: nowrap;
  display: block;
  position: relative;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.priority-nav > * {
  display: inline-block;
  vertical-align: middle;
}
.priority-nav .vertical-nav {
  display: inline-block;
  position: relative;
}
@media  only screen and (max-width:749px)  {
  .priority-nav .vertical-nav {
    float: right;
  }
}
.priority-nav .vertical-nav:before {
  content: '';
  height: 120%;
  width: 100%;
  bottom: -20%;
  display: block;
  position: absolute;
}
.priority-nav .vertical-nav .more-link {
  display: inline-block;
  position: relative;
  padding: 0 0.5em;
  font-size: 1.5em;
}
.priority-nav .vertical-nav .more-link .bubble {
  font-size: 0.5em;
  background: #eeeeee;
  padding: 0.3333333333333333em;
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.7em;
  position: absolute;
  line-height: 1em;
  text-align: center;
  top: -0.4em;
  right: 0.1em;
}
.priority-nav .vertical-nav .more-link:after {
  content: '';
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  display: block;
  position: absolute;
  bottom: -0.5em;
  left: 50%;
  margin-left: -0.5em;
  height: 0;
  width: 0;
  border: 0.5em solid transparent;
  border-bottom: 0.5em solid #eeeeee;
}
.priority-nav .vertical-nav .vertical-nav-dropdown {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out;
  -ms-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
  top: 100%;
  margin-top: 0.5em;
  right: 0;
  z-index: -999;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 15em;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  background-color: #eeeeee;
}
.priority-nav .vertical-nav .vertical-nav-dropdown > * {
  display: block !important;
  margin: 0.5em !important;
  -webkit-transform: translate3d(-0.5em, 0, 0);
  -moz-transform: translate3d(-0.5em, 0, 0);
  -ms-transform: translate3d(-0.5em, 0, 0);
  transform: translate3d(-0.5em, 0, 0);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.priority-nav .vertical-nav:hover {
  z-index: 99;
}
.priority-nav .vertical-nav:hover .more-link:after {
  -moz-opacity: 100;
  -khtml-opacity: 100;
  -webkit-opacity: 100;
  opacity: 100;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
.priority-nav .vertical-nav:hover .vertical-nav-dropdown {
  z-index: 999;
  -moz-opacity: 100;
  -khtml-opacity: 100;
  -webkit-opacity: 100;
  opacity: 100;
}
.priority-nav .vertical-nav:hover .vertical-nav-dropdown > * {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.priority-nav .vertical-nav:hover .vertical-nav-dropdown > *:nth-child(1) {
  -webkit-transition-delay: 0.05s;
  -moz-transition-delay: 0.05s;
  -ms-transition-delay: 0.05s;
  -o-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.priority-nav .vertical-nav:hover .vertical-nav-dropdown > *:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.priority-nav .vertical-nav:hover .vertical-nav-dropdown > *:nth-child(3) {
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  -ms-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.priority-nav .vertical-nav:hover .vertical-nav-dropdown > *:nth-child(4) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.priority-nav .vertical-nav:hover .vertical-nav-dropdown > *:nth-child(5) {
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.priority-nav .vertical-nav:hover .vertical-nav-dropdown > *:nth-child(6) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.priority-nav .vertical-nav:hover .vertical-nav-dropdown > *:nth-child(7) {
  -webkit-transition-delay: 0.35s;
  -moz-transition-delay: 0.35s;
  -ms-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
.priority-nav.go-away,
.priority-nav .go-away {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  z-index: -999;
}
